<div class="cover-container d-flex mx-auto mt-auto flex-column">
  <div class="login_card">
    <h4 class="text-center">プロフィール編集</h4>
    <div class="login_form">
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <div class="form-group">
          <i class="fa-regular fa-user"></i>
          <%= f.label :name, "ユーザー名"%>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <i class="fa-regular fa-envelope"></i>
          <%= f.label :email, "メールアドレス"%>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <i class="fa-solid fa-music"></i>
          <%= f.label :best_song, "SUPER BEAVERで一番好きな曲（任意）"%>
          <%= f.text_field :best_song, class: 'form-control' %>
        </div>
        <div class="register_button">
          <%= f.submit "更新", class: 'btn-user' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
