<div class="comment_container">
  <div class="comment_card">
    <%= form_with model: comment, url: [post, comment], id: "new_comment", local: false do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <i class="fa-solid fa-comment"></i>
      <%= f.label :body, "コメント" %>
      <%= f.text_area :body, class: 'form-control mt-2 mb-4', id: 'js-new-comment-body', row: 3 %>
      <%= f.submit "投稿", class: 'btn-comment' %>
    <% end %>
  </div>
</div>
