<header class="masthead sticky-top">
  <nav class="navbar">
    <%= link_to root_path, data: {"turbolinks" => false} do %>
      <%= image_tag 'logo.png', class:'logo' %>
    <% end %>
    <div class="header_right">
      <%= link_to "投稿一覧", "#", class: "link", data: {"turbolinks" => false} %>
      <%= link_to "投稿する", "#", class: "link", data: {"turbolinks" => false} %>
      <%= link_to "ログアウト", logout_path, class: "link", method: :delete %>
    </div>
  </nav>
</header>
