<div class="cover-container d-flex mx-auto mt-auto flex-column">
  <div class="container">
    <div class="camera">
      <video id="video" autoplay playsinline width="300" height="300"></video>
      <canvas id="canvas" width="300" height="300"></canvas>
    </div>
    <div class="warning">
      <p>（※顔が写ってない等の理由で分析失敗の場合、完全にランダムで選曲されます。）</p>
    </div>
    <div class="analysis-btn">  
      <button class="button-2" id="analysis">診断する</button>
    </div>
    <div class="emotion">
      <p id="result"></p>
    </div>
    <div class="btn-2">
      <button class="button-2" id="reload">撮り直す</button>
      <%= form_with model: @result, local: true do |f| %>
        <%= f.hidden_field :image, id: "photo" %>
        <%= f.hidden_field :emotion, id: "emotion" %>
        <%= f.hidden_field :song_id, id: "song_id" %>
        <%= f.submit  "選曲結果", class: "button-2", id: "song" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#canvas').hide();
  $('#reload').hide();
  $('#song').hide();

  // カメラ設定
  const constraints = {
    audio: false,
    video: {
      width: 300,
      height: 300,
      facingMode: "user"
    }
  };

  navigator.mediaDevices.getUserMedia(constraints)
  .then( (stream) => {
    video.srcObject = stream;
    video.onloadedmetadata = (e) => {
      video.play();
    };
  })
  .catch( (err) => {
    console.log(err.name + ": " + err.message);
  });

  const analysis = document.getElementById("analysis")

  analysis.addEventListener('click', () => { 
    $('#video').hide();
    $('#canvas').show();

    var canvas = document.getElementById("canvas");
    canvas.getContext("2d").drawImage(video, 0, 0, 300, 300)

    // canvas上の画像をbase64に変換
    const base64 = canvas.toDataURL('image/jpeg');
    // base64変換したデータのプレフィクスを削除
    const photo = base64.replace(/^data:\w+\/\w+;base64,/, '');
    document.getElementById("photo").value = photo;
  
    $.ajax({
      url: '/results/analysis',
      type: 'POST',
      data: {image: photo},
      success: function(data){
        $('#result').append(data.body);
        $('#analysis').hide();
        $('#reload').show();
        $('#song').show();
        document.getElementById("emotion").value = data.emotion;
        document.getElementById("song_id").value = data.song_id;
      },
      error: function() {
        $('#result').append("分析失敗しました(>_<)");
        $('#reload').show();
        $('#analysis').hide();
      }
    });
  })

  const reload = document.getElementById("reload")

  reload.addEventListener('click', () => {
    location.reload();
  })
</script>
