<div class="container mt-auto">
  <div class="search text-center">
    <%= form_with url: search_songs_path, method: :get, local: true do |f| %>
      <%= f.text_field :album, placeholder: "アーティスト名など", value: @search_params %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <div class="result2">
    <div class="row2">
      <% if @albums.present? %>
        <% @albums.each do |album| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="<%= album.images[0]["url"] %>" class="d-block mx-auto" width="300" height="300"><br>
              <div class="album_info text-center">
                <p class="title"> <%= album.name %></p>
                <p class="artist"><%= album.artists[0].name %></p>
              </div>
              <% album.tracks.each do |track|  %>
                <%= track.name %><br>
              <% end %>
              <br>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
